{% import 'TrezLogicielTrezBundle:Utils:forms.html.twig' as forms %}

<form class="form-horizontal" action="{{ path(route, route_options is defined ? route_options : {} ) }}" {{ form_enctype(form) }} method="post">
    <div>{{ form_errors(form) }}</div>

    <fieldset>
        <legend>Identification</legend>
        <div class="control-group {{ form_errors(form.numero) ? 'error' : '' }}">
            <label class="control-label">Type & num&eacute;ro</label>
            <div class="controls">
                {{ form_widget(form.typeFacture, {'attr':  {'class': 'input-mini' }}) }}
                {{ form_widget(form.numero, {'attr': {'class': 'input-small' }}) }}
                <span class="help-inline">{{ form_errors(form.typeFacture) }}{{ form_errors(form.numero) }}</span>
            </div>
        </div>
        {{ forms.field(form.date, 'Date', {'class': 'date-selects'}, '', '<a id="date-now" href="#">Aujourd\'hui</a>') }}
        {{ forms.field(form.tiers, 'Tiers', {'class': 'chosen-tiers'}) }}
        {{ forms.field(form.objet, 'Objet', {'class': 'input-xlarge'}) }}
        {{ forms.field(form.montant, 'Montant HY', {'class': 'input-small'}) }}
    </fieldset>

    <fieldset>
        <legend>TVA</legend>
        <div>Décrivez toutes les TVAs s'appliquant sur cette facture :</div>
        <div class="error">{{ form_errors(form.tvas) }}</div>
        <ul>
            {% for tva in form.tvas %}
                <li class="form-inline">
                    Montant HT : {{ form_widget(tva.montant_ht, {'attr': {'class': 'input-small'}}) }}
                     - Classe : {{ form_widget(tva.classeTva, {'attr': {'class': 'input-medium'}}) }}
                     - Montant TVA : {{ form_widget(tva.montant_tva, {'attr': {'class': 'input-small'}}) }}
                </li>
            {% endfor %}
        </ul>
    </fieldset>

    <fieldset>
        <legend>Paiement</legend>
        {{ forms.field(form.date_paiement, 'Date du paiement', {'class': 'date-selects'}, '', '<a id="date_paiement-now" href="#">Aujourd\'hui</a>') }}
        {{ forms.field(form.methodePaiement, 'Moyen de paiement') }}
        {{ forms.field(form.ref_paiement, 'Référence du paiement') }}
    </fieldset>

    <fieldset>
        <legend>Autres</legend>
        {{ forms.field(form.ligne, 'Ligne') }}
        {{ forms.field(form.commentaire, 'Commentaire', {'class': 'input-xlarge'}) }}

    </fieldset>

    {{ form_rest(form) }}

    <div class="form-actions">
        <input type="submit" class="btn btn-primary" name="add"  value="Valider">&nbsp;
        <input type="submit" class="btn btn-warning" name="adjust" value="Valider et ajuster la ligne"
               title="La ligne sera ajustée afin que son total soit égal au total des factures, celle-ci inclue, en tenant compte du sens (débit ou crédit)">&nbsp;
        <a href="{{ path('facture_index', {'ligne_id': ligne_id}) }}" class="btn">Annuler</a>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function() {
        // transform select into the chosen one
        $('.chosen-tiers').chosen({no_results_text: "Pas de r&eacute;sultats"});

        // for "Now" buttons under date fields
        $('#date-now').on('click', function() {
            var _date = new Date();

            $('#trez_logicieltrezbundle_facturetype_date_day').val(_date.getDate());
            $('#trez_logicieltrezbundle_facturetype_date_month').val((_date.getMonth()+1)%12);
            $('#trez_logicieltrezbundle_facturetype_date_year').val(_date.getFullYear());
        });
        $('#date_paiement-now').on('click', function() {
            var _date = new Date();

            $('#trez_logicieltrezbundle_facturetype_date_paiement_day').val(_date.getDate());
            $('#trez_logicieltrezbundle_facturetype_date_paiement_month').val((_date.getMonth()+1)%13);
            $('#trez_logicieltrezbundle_facturetype_date_paiement_year').val(_date.getFullYear());
        });

        // datePickers
        /*$( "#date" ).datepicker({
            dateFormat: 'dd/mm/yy'
        });
        $( "#date_paiement" ).datepicker({
            dateFormat: 'dd/mm/yy'
        });*/
    });
</script>