{%  extends 'TrezLogicielTrezBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"  type="text/css" href="{{ asset('../vendor/harvesthq/chosen/chosen/chosen.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('../vendor/harvesthq/chosen/chosen/chosen.jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/trezlogicieltrez/js/php.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>&Eacute;diter la facture {{ facture.typeFacture.abr }} {{ facture.numero }}</h1>

    {% include "TrezLogicielTrezBundle:Facture:_form.html.twig" with {'route': 'facture_edit', 'route_options': {'ligne_id': ligne_id, 'id': facture.id}, 'ligne_id': ligne_id} %}
{%  endblock %}