{%  extends 'TrezLogicielTrezBundle::layout.html.twig' %}

{% block body %}
    <h1>Liste des factures de la ligne {{ ligne.nom }}</h1>

    <table class="table table-stripped table-hover">
        <thead>
        <tr>
            <th>Num&eacute;ro</th>
            <th>Objet</th>
            <th>Date</th>
            <th>Montant</th>
            <th width="70"></th>
        </tr>
        </thead>
        <tbody>
            {% for facture in factures %}
                <tr>
                    <td>{{ facture.numero }}</td>
                    <td>{{ facture.objet }}</td>
                    <td>{{ facture.date|date("d/m/Y") }}</td>
                    <td>{{ facture.montant|number_format(0, ',', ' ') }}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-small" href="{{ path('facture_edit', {'ligne_id': ligne.id, 'id': facture.id}) }}" title="&Eacute;diter"><i class="icon-pencil"></i></a>
                            <a class="btn btn-small"
                               href="{{ path('facture_delete', {'ligne_id': ligne.id, 'id': facture.id}) }}"
                               onclick="return window.confirm('Êtes-vous sur de vouloir supprimer la facture {{ facture.numero }} ?');"
                               title="Supprimer"><i class="icon-remove"></i></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div>
        <a href="{{ path('facture_add', {'ligne_id': ligne.id}) }}" class='btn btn-primary'>
            <i class="icon-plus"></i> &Eacute;mettre une facture
        </a>
    </div>
{% endblock %}
