{%  extends 'TrezLogicielTrezBundle::layout.html.twig' %}

{% block body %}
    <h1>Liste des factures de la ligne {{ ligne.nom }}</h1>

    <table class="table table-stripped table-hover">
        <thead>
        <tr>
            <th>Num&eacute;ro</th>
            <th>Objet</th>
            <th>Date</th>
            <th>Montant</th>
            <th width="70"></th>
        </tr>
        </thead>
        <tbody>
            {% for facture in factures %}
                <tr>
                    <td>{{ facture.typeFacture.abr ~ facture.ligne.sousCategorie.categorie.budget.exercice.prefixeFactures ~ utils.untrim_number(facture.numero, 3)|trim }}</td>
                    <td>{{ facture.objet }}</td>
                    <td>{{ facture.date|date("d/m/Y") }}</td>
                    <td>{{ facture.montant|number_format(2, ',', ' ') }}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-small" href="{{ path('facture_detail', {'ligne_id': ligne.id, 'id': facture.id}) }}" title="D&eacute;tail"><i class="icon-eye-open"></i></a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="btn btn-small" href="{{ path('facture_print', {'ligne_id': ligne.id, 'id': facture.id}) }}" title="Imprimer"><i class="icon-print"></i></a>
                                <a class="btn btn-small" href="{{ path('facture_edit', {'ligne_id': ligne.id, 'id': facture.id}) }}" title="&Eacute;diter"><i class="icon-pencil"></i></a>
                                <a class="btn btn-small"
                                   href="{{ path('facture_delete', {'ligne_id': ligne.id, 'id': facture.id}) }}"
                                   onclick="return window.confirm('Êtes-vous sur de vouloir supprimer la facture {{ facture.numero }} ?');"
                                   title="Supprimer"><i class="icon-remove"></i></a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <div>
            <div class="btn-toolbar">
                <div class="btn-group">
                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="icon-plus"></i> &Eacute;mettre une facture
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% for type in type_factures %}
                            <li><a href="{{ path('facture_add', {'ligne_id': ligne.id, 'type_id': type.id}) }}">
                                <b>{{ type.abr }}</b> - {{ type.nom }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="btn-group">
                    <a href="{{ path('ligne_adjust', {'id': ligne.id}) }}" class="btn btn-warning"
                       title="La ligne sera ajustée afin que son total soit égal au total des factures, celle-ci inclue, en tenant compte du sens (débit ou crédit)">
                        Ajuster la ligne
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
