<!--extends 'TrezLogicielTrezBundle::layout.html.twig'-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}LogicielTrez{% endblock %}</title>
    <link rel="shortcut icon" href="/favicon.ico">
    {% block stylesheets %}
        <link rel="stylesheet"  type="text/css" href="{{ asset('../vendor/twitter/bootstrap/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/trezlogicieltrez/css/style.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/trezlogicieltrez/css/print.css') }}" />
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body >
	<div class="page" style="padding-left:10px;">
	<div class="bandeau">
	<table width=100%;>
		<tr>
			<td width=30%;>
				<img src="{{ asset('bundles/trezlogicieltrez/img/logo24hinsa.png') }}" alt="LOGO" width="200mm"/>
			</td>
			<td width=30%;>
				<table>
					<tr><td>Club des 24 Heures de l'INSA</td></tr>
					<tr><td>Rdc bat. D - 20,av Albert Einstein</td></tr>
					<tr><td>69621 VILLEURBANNE Cedex</td></tr>
					<tr><td>Tel : 04 72 43 70 00</td></tr>
					<tr><td>Fax : 04 72 43 87 37</td></tr>
				</table>
			</td>
			<td width=30%;>
				Facture n° : {{ facture.typeFacture.abr }} {{ facture.numero }}<br/>
			</td>
		</tr>
	</table>
	<div class="bandeau" style="background-image:url({{ asset('bundles/trezlogicieltrez/img/bandeau.png')}}); 
	text-align: right; background-repeat:repeat-x;"><span style="margin-right:50mm ;background-color:white; font-size: 19px;">&nbsp;FACTURE&nbsp;</span></div>
<div class="cleared";></div>
	</div>

<div class="contenu">
	<table width=100%;>
		<tr>
			<td width=25%>
				<fieldset>
					<legend>Date: </legend>
					{{ facture.date|date("m/d/Y") }}
				</fieldset>	
				
			</td>
			<td width=40%>
				&nbsp;
			</td>
			<td>
				<fieldset>
					<legend>Adressé à</legend>
					Nom : <br/>
					Adresse: <br/>
				</fieldset>	
			</td>
		</tr>
	</table>

<br/><br/>

	<table width=100%; border=1px;>
		<thead>
			<th>Description</th>
			<th width=15%; >Montant HT</th>
		</thead>

		<tbody>
		<tr>
			<td>
			<h5>{{ facture.objet }}</h5>
			<span>{{ facture.commentaire }}</span>
			</td>
			<td>
			{{ facture.montant }}€
			</td>
		</tr>
		</tbody>
	</table>
	
	<table align="right" width=100%>
		{% for tva in tvas %}
		<tr>
			<td>&nbsp;</td>
			<td align="left"; width=20%;>TVA à {{ tva.classeTva.taux }}%</td>
			<td align="left"; width=15%;>{{ tva.montantTva }}€</td>
		</tr>
		{% endfor %}
		<tr>
			<td >&nbsp;</td>
			<td align="left"; width=20%;>Total TTC</td>
			<td align="left"; width=15%;>{{ totalTTC }}€</td>
		</tr>
	</table>
<div class="cleared";></div>
</div>

<div class="pied">
	<fieldset>
		<legend>Paiement</legend>
		Réglement par virement ou par chèque à l'ordre du Club des 24 heures de l'INSA <br/>
		30056 00175 01750028667 81<br/>
		Réglement 30 jours fin de mois
	</fieldset>	
	<p style="font-style: italic;">TVA Intracommunautaire : FR93 322 927 674 00018       NAF   913E</p>
	</div>
</div>
</body>
</html>