{% import 'TrezLogicielTrezBundle:Utils:forms.html.twig' as forms %}


<form class="form-horizontal" action="{{ path(route, route_options is defined ? route_options : {} ) }}" {{ form_enctype(form) }} method="post">
    <div>{{ form_errors(form) }}</div>

    <fieldset>
        {% if ( route == 'config_edit' and (config.cle  == "currency" or config.cle  == "currentBudget")) %}
            {{ forms.field(form.cle, 'Clé', {'disabled':'disabled'} ) }}
        {% else %}
            {{ forms.field(form.cle, 'Clé') }}
        {% endif %}

        {{ forms.field(form.valeur, 'Valeur') }}
    </fieldset>

    {{ form_rest(form) }}

    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Valider">&nbsp;
        <a href="{{ path('config_index') }}#general" class="btn">Annuler</a>
    </div>
</form>

