{%  extends 'TrezLogicielTrezBundle::layout.html.twig' %}

{% block body %}
    <h1>Liste des ligne de la sous-cat&eacute;gorie {{ sous_categorie.nom }}</h1>

    <table class="table table-stripped table-hover">
        <thead>
        <tr>
            <th>Cl&eacute;</th>
            <th>Nom</th>
            <th>D&eacute;bit</th>
            <th>Cr&eacute;dit</th>
            <th>Commentaire</th>
            <th width="70"></th>
        </tr>
        </thead>
        <tbody>
            {% for ligne in lignes %}
                <tr>
                    <td>{{ ligne.cle }}</td>
                    <td>{{ ligne.nom }}</td>
                    <td>{{ ligne.debit|excel_format }}</td>
                    <td>{{ ligne.credit|excel_format }}</td>
                    <td>{{ ligne.commentaire }}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-small" href="{{ path('facture_index', {'ligne_id': ligne.id}) }}" title="Acc&eacute;der aux factures"><i class="icon-download"></i></a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="btn btn-small" href="{{ path('ligne_edit', {'sous_categorie_id': sous_categorie.id, 'id': ligne.id}) }}" title="&Eacute;diter"><i class="icon-pencil"></i></a>
                                <a class="btn btn-small"
                                   href="{{ path('ligne_delete', {'sous_categorie_id': sous_categorie.id, 'id': ligne.id}) }}"
                                   onclick="return window.confirm('Êtes-vous sur de vouloir supprimer la ligne {{ ligne.nom }} ?');"
                                   title="Supprimer"><i class="icon-remove"></i></a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN')
        and sous_categorie.categorie.budget.verrouille == false
        and sous_categorie.categorie.budget.exercice.verrouille == false %}
        <div>
            <a href="{{ path('ligne_add', {'sous_categorie_id': sous_categorie.id}) }}" class='btn btn-primary'>
                <i class="icon-plus"></i> Ajouter une ligne
            </a>
        </div>
    {% endif %}
{% endblock %}
