<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}LogicielTrez{% endblock %}</title>
    <link rel="shortcut icon" href="/favicon.ico">
    {% block stylesheets %}
        <link rel="stylesheet"  type="text/css" href="{{ asset('../vendor/twitter/bootstrap/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/trezlogicieltrez/css/style.css') }}" />
    {% endblock %}
    {% block javascripts %}
        <script src="{{ asset('../vendor/jquery/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('../vendor/twitter/bootstrap/js/bootstrap.min.js') }}"></script>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    {# menu provisoire, TODO à refaire #}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="{{ url('_welcome') }}">LogicielTrez</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li><a href="{{ url('exercice_index') }}">Exercices</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        {% include "TrezLogicielTrezBundle:Utils:flash_message.html.twig" %}

        {{ wo_render_breadcrumbs() }}

        {% block body %}{% endblock %}
    </div>
    <div id="footer" class="footer">
        <div class="container">
            Fièrement propulsé par <a href="https://github.com/romaricdrigon/LogicielTrez-Symfony">LogicielTrez (version Symfony2)</a>
            {# todo : logout link #}
        </div>
    </div>
</body>
</html>
