{% import 'TrezLogicielTrezBundle:Utils:forms.html.twig' as forms %}

<form class="form-horizontal" action="{{ path(route, route_options is defined ? route_options : {} ) }}" {{ form_enctype(form) }} method="post">
    <div>{{ form_errors(form) }}</div>

    <fieldset>
        {{ forms.field(form.edition, 'Édition') }}
        {{ forms.field(form.annee_1, 'Année 1', {'class': 'date-selects'}, 'force-height') }}
        {{ forms.field(form.annee_2, 'Année 2', {'class': 'date-selects'}, 'force-height') }}
    </fieldset>

    {{ form_rest(form) }}

    <div><i>Dans le formulaire ci-dessus, seules les ann&eacute;es sont importantes parmi les 3 menus d&eacute;roulants.</i></div>

    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Valider">&nbsp;
        <a href="{{ path('exercice_index') }}" class="btn">Annuler</a>
    </div>
</form>