{% import 'TrezLogicielTrezBundle:Utils:forms.html.twig' as forms %}

<form class="form-horizontal" action="{{ path(route, route_options is defined ? route_options : {} ) }}" {{ form_enctype(form) }} method="post">
    <div>{{ form_errors(form) }}</div>

    <fieldset>
        {{ forms.field(form.edition, 'Édition') }}
        {{ forms.field(form.annee_1, 'Année 1', {'class': 'date-selects'}, 'force-height') }}
        {{ forms.field(form.annee_2, 'Année 2', {'class': 'date-selects'}, 'force-height') }}
        {{ forms.field(form.verrouille, 'Verrouillé', {}, '', "<i>Les fils (budgets, factures) d'un exercice verrouillé ne pourront plus être édités</i>") }}
        {{ forms.field(form.prefixe_factures, 'Préfixe des factures', {}, '', "<i>Le préfixe qui sera rajouté entre le type de la facture et son numéro, par exemple </i><code>1112/</code><i> pour </i><code>FR<b>1112/</b>001</code>") }}
    </fieldset>

    {{ form_rest(form) }}

    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Valider">&nbsp;
        <a href="{{ path('exercice_index') }}" class="btn">Annuler</a>
    </div>
</form>

<script type="text/javascript">
    // we set some values in useless selects and hide them
    $('#trez_logicieltrezbundle_exercicetype_annee_1_day').val(1).hide();
    $('#trez_logicieltrezbundle_exercicetype_annee_1_month').val(1).hide();
    $('#trez_logicieltrezbundle_exercicetype_annee_2_day').val(1).hide();
    $('#trez_logicieltrezbundle_exercicetype_annee_2_month').val(1).hide();
</script>