{%  extends 'TrezLogicielTrezBundle::layout.html.twig' %}

{% block body %}
    <h1>Liste des exercices</h1>

    <table class="table table-stripped table-hover">
        <thead>
        <tr>
            <th>&Eacute;dition</th>
            <th>Ann&eacute;e 1</th>
            <th>Ann&eacute;e 2</th>
            <th width="70"></th>
        </tr>
        </thead>
        <tbody>
            {% for exercice in exercices %}
                <tr {% if exercice.verrouille == true %}class="error"{% endif %}>
                    <td>{{ exercice.edition }}</td>
                    <td>{{ exercice.annee1|date("Y") }}</td>
                    <td>{{ exercice.annee2|date("Y") }}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-small" href="{{ path('budget_index', {'exercice_id': exercice.id}) }}" title="Acc&eacute;der aux budgets"><i class="icon-download"></i></a>
                            <a class="btn btn-small" href="{{ path('exercice_edit', {'id': exercice.id}) }}" title="&Eacute;diter"><i class="icon-pencil"></i></a>
                            <a class="btn btn-small"
                               href="{{ path('exercice_delete', {'id': exercice.id}) }}"
                               onclick="return window.confirm('Êtes-vous sur de vouloir supprimer l\'exercice {{ exercice.edition }} ?');"
                               title="Supprimer"><i class="icon-remove"></i></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div>
        <a href="{{ path('exercice_add') }}" class='btn btn-primary'>
            <i class="icon-plus"></i> Ajouter un exercice
        </a>
    </div>
{% endblock %}
