{% import 'TrezLogicielTrezBundle:Utils:forms.html.twig' as forms %}

<form class="form-horizontal" action="{{ path(route, route_options is defined ? route_options : {} ) }}" {{ form_enctype(form) }} method="post">
    <div>{{ form_errors(form) }}</div>

    <fieldset>
        {{ forms.field(form.nom, 'Nom') }}
        {{ forms.field(form.telephone, 'Téléphone') }}
        {{ forms.field(form.mail, 'E-Mail') }}
        {{ forms.field(form.fax, 'Fax') }}
        {{ forms.field(form.etranger, 'Etranger') }}
        {{ forms.field(form.adresse, 'Adresse') }}
        {{ forms.field(form.responsable, 'Responsable') }}
        {{ forms.field(form.rib, 'RIB') }}
        {{ forms.field(form.ordre_cheque, 'Ordre des chèques') }}
        {{ forms.field(form.commentaire, 'Commentaires') }}

    </fieldset>

    {{ form_rest(form) }}

    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Valider">&nbsp;
        <a href="{{ path('tiers_index') }}" class="btn">Annuler</a>
    </div>
</form>
