{%  extends 'TrezLogicielTrezBundle::layout.html.twig' %}

{% block body %}
    <h1>Liste des cat&eacute;gories du budget {{ budget.nom }}</h1>

    <table class="table table-stripped table-hover">
        <thead>
        <tr>
            <th>Cl&eacute;</th>
            <th>Nom</th>
            <th>Débit</th>
            <th>Crédit</th>
            <th>Commentaire</th>
            <th width="70"></th>
        </tr>
        </thead>
        <tbody>
            {% for categorie in categories %}
                <tr>
                    <td>{{ categorie.0.cle }}</td>
                    <td>{{ categorie.0.nom }}</td>
                    <td>{{ categorie.debit|excel_format }}</td>
                    <td>{{ categorie.credit|excel_format }}</td>
                    <td>{{ categorie.0.commentaire }}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-small" href="{{ path('sous_categorie_index', {'categorie_id': categorie.0.id}) }}" title="Acc&eacute;der aux sous-cat&eacute;gories"><i class="icon-download"></i></a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="btn btn-small" href="{{ path('categorie_edit', {'budget_id': budget.id, 'id': categorie.0.id}) }}" title="&Eacute;diter"><i class="icon-pencil"></i></a>
                                <a class="btn btn-small"
                                   href="{{ path('categorie_delete', {'budget_id': budget.id, 'id': categorie.0.id}) }}"
                                   onclick="return window.confirm('Êtes-vous sur de vouloir supprimer la catégorie {{ categorie.0.nom }} ?');"
                                   title="Supprimer"><i class="icon-remove"></i></a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') and budget.verrouille == false and budget.exercice.verrouille == false %}
        <div>
            <a href="{{ path('categorie_add', {'budget_id': budget.id}) }}" class='btn btn-primary'>
                <i class="icon-plus"></i> Ajouter une cat&eacute;gorie
            </a>
            <a href="{{ path('budget_duplicate', {'exercice_id': budget.exercice.id, 'id': budget.id}) }}" class='btn'>
                Dupliquer/sauvegarder ce budget
            </a>
        </div>
    {% endif %}
{% endblock %}
