{% import 'TrezLogicielTrezBundle:Utils:forms.html.twig' as forms %}

<style type="text/css" media="screen">

</style>

<form class="form-horizontal" action="{{ path(route, route_options is defined ? route_options : {} ) }}" {{ form_enctype(form) }} method="post">
    <div>{{ form_errors(form) }}</div>

    <fieldset>
        {{ forms.field(form.name, 'Nom') }}
        {{ forms.field(form.type, 'Type') }}
        {{ forms.field(form.actif, 'Actif') }}
        <div class="control-group">
            <label class="control-label">Éditeur</label>
            <div class="controls">
                <p>Voici la liste des variables disponibles pour éditer le contenu du template:</p>
                <code>
                    <div class="bloc_3">
                        facture.typeFacture.abr<br>
                        facture.numero<br>
                        facture.date|date("m/d/Y")<br>
                    </div>
                    <div class="bloc_3">
                        facture.objet<br>
                        facture.commentaire<br>
                        facture.montant<br>
                    </div>
                    <div class="bloc_3">
                        tva.classeTva.taux<br>
                        tva.montantTva<br>
                        totalTTC<br>
                    </div>
                </code>


                <span class="help-inline">{{ form_errors(form.contenu) }}</span>
                <div id="contenu_editor">
                    {{ forms.field(form.contenu, 'Contenu') }}
                </div>
            </div>
            <div id="editor"></div>
        </div>
    </fieldset>

    {{ form_rest(form) }}

    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Valider">&nbsp;
        <a href="{{ path('config_index') }}#template" class="btn">Annuler</a>
    </div>


    <script>
        $(document).ready(function()
        {
            var editor = ace.edit("editor");
            editor.setTheme("ace/theme/chrome");
            editor.getSession().setMode("ace/mode/html");
            $('div[id="contenu_editor"]').hide();
            var textarea = $('textarea[id="trez_logicieltrezbundle_templatefacturetype_contenu"]');
            editor.getSession().setValue(textarea.val());
            editor.getSession().on('change', function(){
                textarea.val(editor.getSession().getValue());
            });
            editor.setShowPrintMargin(false); // no 80 chars limit line
        });
    </script>

</form>
