{%  extends 'TrezLogicielTrezBundle::layout.html.twig' %}
{% import 'TrezLogicielTrezBundle:Utils:forms.html.twig' as forms %}

{% block body %}
    <h1>Créer une déclaration de TVA</h1>

    <form class="form-horizontal" action="{{ path('declaration_tva_create') }}" {{ form_enctype(form) }} method="post">
        <div>{{ form_errors(form) }}</div>

        <fieldset>
            {{ forms.field(form.date, 'Date', {'class': 'date-selects'}) }}
        </fieldset>

        {{ form_rest(form) }}

        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Valider">&nbsp;
            <a href="{{ path('declaration_tva_index') }}" class="btn">Annuler</a>
        </div>
    </form>

    <script type="text/javascript">
        // we set some values in useless selects and hide them
        $('#trez_logicieltrezbundle_declarationtvadate_date_day').val(1).hide();

        // pre-set with next date
        $('#trez_logicieltrezbundle_declarationtvadate_date_month').val({{ date_next|date('m') }});
        $('#trez_logicieltrezbundle_declarationtvadate_date_year').val({{ date_next|date('Y') }});
    </script>
{% endblock %}
