{% import 'TrezLogicielTrezBundle:Utils:forms.html.twig' as forms %}

<form class="form-horizontal" action="{{ path(route, route_options is defined ? route_options : {} ) }}" {{ form_enctype(form) }} method="post">
    <div>{{ form_errors(form) }}</div>

    <fieldset>
        {{ forms.field(form.username, 'Nom d\'utilisateur') }}
        {# forms.field(form.password, 'Mot de passe') #}
        {{ forms.field(form.mail, 'Adresse e-mail') }}
        {{ forms.field(form.type, 'Type') }}
    </fieldset>

    {{ form_rest(form) }}

    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Valider">&nbsp;
        <a href="{{ path('user_index') }}" class="btn">Annuler</a>
    </div>
</form>
