{%  extends 'TrezLogicielTrezBundle::layout.html.twig' %}
{% import 'TrezLogicielTrezBundle:Utils:forms.html.twig' as forms %}

{% block body %}
    <h1>Ajouter un utilisateur</h1>

    <form class="form-horizontal" action="{{ path('user_add') }}" {{ form_enctype(form) }} method="post">
        <div>{{ form_errors(form) }}</div>

        <fieldset>
            {{ forms.field(form.username, 'Nom d\'utilisateur') }}
            {{ forms.field(form.password, 'Mot de passe') }}
            {{ forms.field(form.mail, 'Adresse e-mail') }}
            {{ forms.field(form.type, 'Type') }}
        </fieldset>

        {{ form_rest(form) }}

        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Valider">&nbsp;
            <a href="{{ path('user_index') }}" class="btn">Annuler</a>
        </div>
    </form>
{%  endblock %}