{% extends 'TrezLogicielTrezBundle::layout.html.twig' %}
{% import 'TrezLogicielTrezBundle:Utils:forms.html.twig' as forms %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('../vendor/harvesthq/chosen/chosen/chosen.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('../vendor/harvesthq/chosen/chosen/chosen.jquery.min.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>Ajouter un utilisateur</h1>

    <form class="form-horizontal" action="{{ path('user_add') }}" {{ form_enctype(form) }} method="post">
        <div>{{ form_errors(form) }}</div>

        <fieldset>
            {{ forms.field(form.username, 'Nom d\'utilisateur') }}
            {{ forms.field(form.password, 'Mot de passe') }}
            {{ forms.field(form.mail, 'Adresse e-mail') }}
            {{ forms.field(form.can_openid, 'Login OpenID', {}, '', "Cet utilisateur pourra-t-il se connecter avec son compte Gmail ?") }}
            {{ forms.field(form.can_credentials, 'Login Classique', {}, '', "Cet utilisateur pourra-t-il se connecter avec son adresse e-mail/nom d'utilisateur et son mot de passe ?") }}
            {{ forms.field(form.type, 'Type') }}
            {{ forms.field(form.categories, 'Catégories', {'class': 'input-xxlarge chosen-categories', 'data-placeholder': 'Sélectionnez les catégories que cet utilisateur pourra consulter'}, 'user-categories') }}
        </fieldset>

        {{ form_rest(form) }}

        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Valider">&nbsp;
            <a href="{{ path('user_index') }}" class="btn">Annuler</a>
        </div>

        <script type="text/javascript">
            $(document).ready(function() {
                // transform multiple select into the chosen one
                $('.chosen-categories').chosen({no_results_text: "Vous n'avez pas de budgets/cat&eacute;gories !"});

                // show categories only for ROLE_USER users
                $('#trez_logicieltrezbundle_usertype_type').on('change', function() {
                    if ($('#trez_logicieltrezbundle_usertype_type').val() !== 'ROLE_USER') {
                        $('.user-categories').hide();
                    } else {
                        $('.user-categories').show();
                    }
                });
                // check it when page is ready
                if ($('#trez_logicieltrezbundle_usertype_type').val() !== 'ROLE_USER') {
                    $('.user-categories').hide();
                }
            });
        </script>
    </form>
{%  endblock %}