{% import 'TrezLogicielTrezBundle:Utils:forms.html.twig' as forms %}
{%  extends 'TrezLogicielTrezBundle::layout.html.twig' %}

{% block body %}
<h1>&Eacute;diter l'utilisateur {{ user.username }}</h1>

    <form class="form-horizontal" action="{{ path('user_change_password', {id: user.id} ) }}" {{ form_enctype(form) }} method="post">
        <div>{{ form_errors(form) }}</div>

        <fieldset>
            {{ forms.field(form.username, 'Nom d\'utilisateur') }}
            {% if form.old_password is defined %}
                {{ forms.field(form.old_password, 'Ancien mot de passe') }}
            {% endif %}
            {{ forms.field(form.password, 'Nouveau mot de passe') }}
        </fieldset>

        {{ form_rest(form) }}

        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Valider">&nbsp;
            <a href="{{ cancel_link }}" class="btn">Annuler</a>
        </div>
    </form>
{%  endblock %}
