{% extends 'TrezLogicielTrezBundle::layout.html.twig' %}
{% import 'TrezLogicielTrezBundle:Utils:forms.html.twig' as forms %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('../vendor/vakata/jstree/jquery.jstree.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>&Eacute;diter l'utilisateur {{ user.username }}</h1>

    <form class="form-horizontal" action="{{ path('user_edit', {'id': user.id} ) }}" {{ form_enctype(form) }} method="post">
        <div>{{ form_errors(form) }}</div>

        <fieldset>
            {{ forms.field(form.username, 'Nom d\'utilisateur') }}
            {{ forms.field(form.mail, 'Adresse e-mail') }}
            {{ forms.field(form.can_openid, 'Login OpenID', {}, '', "Cet utilisateur pourra-t-il se connecter avec son compte Gmail ?") }}
            {{ forms.field(form.can_credentials, 'Login Classique', {}, '', "Cet utilisateur pourra-t-il se connecter avec son adresse e-mail/nom d'utilisateur et son mot de passe ? <br /><b>Attention, si vous le cochez allez tout de suite setter un mot de passe pour cet utilisateur !</b>") }}
            {{ forms.field(form.type, 'Type') }}
            <div class="control-group {{ form_errors(form.lignes) ? 'error' : '' }}" id="user-lignes">
                <label class="control-label">Lignes</label>
                <div class="controls">
                    <div id="lignes-original-checkboxes">
                        {{ form_widget(form.lignes) }}
                    </div>
                    <div id="lignes-tree"></div>
                    <span class="help-inline">{{ form_errors(form.lignes) }}Sélectionnez les lignes que cet utilisateur pourra consulter</span>
                </div>
            </div>
        </fieldset>

        {{ form_rest(form) }}

        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Valider">&nbsp;
            <a href="{{ path('user_index') }}" class="btn">Annuler</a>
        </div>
    </form>

    <div id="lignes-list" style="display: none;">{% spaceless %}
    {# data for our Javascript tree - will be hidden - we need to use spaceless or jQuery 1.9.1 will crash #}
        <ul>
        {% for exercice in exercices %}
            <li data-type="exercice">
                <a href="#">{{ exercice.edition }}</a>
                <ul>
                {% for budget in exercice.NotEmptyBudgets %}
                    <li data-type="budget">
                        <a href="#">{{ budget.nom }}</a>
                        <ul>
                        {% for categorie in budget.NotEmptyCategories %}
                            <li data-type="categorie">
                                <a href="#">{{ categorie.cle }} - {{ categorie.nom }}</a>
                                <ul>
                                {% for sousCategorie in categorie.NotEmptySousCategories %}
                                    <li data-type="sousCategorie">
                                        <a href="#">{{ sousCategorie.cle }} - {{ sousCategorie.nom }}</a>
                                        <ul>
                                        {% for ligne in sousCategorie.lignes %}
                                            <li data-type="ligne" data-sid="{{ ligne.id }}" id="jstree-ligne_{{ ligne.id }}">
                                                <a href="#">{{ ligne.cle }} - {{ ligne.nom }}</a>
                                            </li>
                                        {% endfor %}
                                        </ul>
                                    </li>
                                {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
                </ul>
            </li>
        {% endfor %}
        </ul>
    {% endspaceless %}</div>

    <script type="text/javascript">
        $(document).ready(function() {
            // show categories only for ROLE_USER users
            $('#trez_logicieltrezbundle_useredit_type').on('change', function() {
                if ($('#trez_logicieltrezbundle_useredit_type').val() !== 'ROLE_USER') {
                    $('#user-lignes').hide();
                } else {
                    $('#user-lignes').show();
                }
            });
            // check it when page is ready
            if ($('#trez_logicieltrezbundle_useredit_type').val() !== 'ROLE_USER') {
                $('.user-lignes').hide();
            }

            /*
                Create a nice tree for lignes
             */

            // set up jsTree
            $('#lignes-tree').jstree({
                core: {
                    animation: 100,
                    strings: {
                        loading: 'Chargement...'
                    }
                },
                plugins: ['html_data', 'themes', 'checkbox'],
                html_data: {
                    data: $('#lignes-list').html()
                },
                themes: {
                    theme: 'apple',
                    dots: false,
                    icons: false
                },
                checkbox: {
                    real_checkboxes: true,
                    real_checkboxes_names: function(n) {
                        if ($(n['0']).data('type') === 'ligne') {
                            return ['trez_logicieltrezbundle_useredit[lignes][]', $(n['0']).data('sid')];
                        }
                        return ['', 0];
                    }
                }
            }).on('loaded.jstree', function() {
                // get checkboxes value, reflect it in the jsTree
                $('input[name=trez_logicieltrezbundle_useredit\\[lignes\\]\\[\\]]').each(function(index, value) {
                    if ($(value).attr('checked')) {
                        $('#lignes-tree').jstree('check_node', '#jstree-ligne_'+$(value).attr('value'));
                    }
                });
                // remove Html data - only now so users without Javascript can still use the form!
                $('#lignes-original-checkboxes').remove();
            });

            // prevent tree links to work
            $('#lignes-tree').on('click', 'a', function(e) {
                e.preventDefault();
            });
        });
    </script>
{%  endblock %}
