{%  extends 'TrezLogicielTrezBundle::layout.html.twig' %}

{% block body %}
    <h1>Liste des utilisateurs</h1>

    <table class="table table-stripped table-hover">
        <thead>
        <tr>
            <th>Nom d'utilisateur</th>
            <th>E-Mail</th>
            <th>Type</th>
            <th width="70"></th>
        </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.mail }}</td>
                    <td>
                        {% if user.type == 'ROLE_ADMIN' %}Administrateur
                        {% elseif user.type == 'ROLE_USER' %}Lecteur
                        {% elseif user.type == 'DISABLED' %}Désactivé
                        {% else %}{{ user.type }}{% endif %}
                    </td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-small" href="{{ path('user_edit', {'id': user.id}) }}" title="&Eacute;diter"><i class="icon-pencil"></i></a>
                            <a class="btn btn-small" href="{{ path('user_change_password', {'id': user.id}) }}" title="Changer le mot de passe"><i class="icon-lock"></i></a>
                            <a class="btn btn-small"
                               href="{{ path('user_delete', {'id': user.id}) }}"
                               onclick="return window.confirm('Êtes-vous sur de vouloir supprimer l\'utilisateur \'{{ user.username }}\' ?');"
                               title="Supprimer"><i class="icon-remove"></i></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if memory_users is not empty %}
        <div class="alert alert-block">
            <p>Un ou plusieurs utilisateurs sont également configurés dans <code>parameters.yml</code> :</p>
            <ul>
                {% for user in memory_users %}
                    <li><b>{{ user }}</b></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div>
        <a href="{{ path('user_add') }}" class='btn btn-primary'>
            <i class="icon-plus"></i> Ajouter un utilisateur
        </a>
    </div>
{% endblock %}
