{%  extends 'TrezLogicielTrezBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/trezlogicieltrez/css/budget-detail.css') }}" />
{% endblock %}

{% block body %}
    <h1>Détail du budget {{ budget.nom }}</h1>

    <table class="table table-hover table-condensed table-bordered budget-flat a-color-inherit">
        <thead>
            <tr>
                <th>Clé</th>
                <th>Nom</th>
                <th>Débit</th>
                <th>Crédit</th>
                <th>Commentaire</th>
            </tr>
        </thead>
        <tbody>
            {% for categorie in budget.categories %}
                <tr class="categorie">
                    <td>{{ categorie.cle }}</td>
                    <td><a href="{{ url('sous_categorie_index', {'categorie_id': categorie.id}) }}">{{ categorie.nom }}</a></td>
                    <td>{{ categorie.debit|excel_format }}</td>
                    <td>{{ categorie.credit|excel_format }}</td>
                    <td>{{ categorie.commentaire }}</td>
                </tr>
                {% for sousCategorie in categorie.sousCategories %}
                    <tr class="sous-categorie">
                        <td>{{ categorie.cle ~ '.' ~sousCategorie.cle }}</td>
                        <td><a href="{{ url('ligne_index', {'sous_categorie_id': sousCategorie.id}) }}">{{ sousCategorie.nom }}</a></td>
                        <td>{{ sousCategorie.debit|excel_format }}</td>
                        <td>{{ sousCategorie.credit|excel_format }}</td>
                        <td>{{ sousCategorie.commentaire }}</td>
                    </tr>
                    {% for ligne in sousCategorie.lignes %}
                        {% set class = '' %}
                        {% if view_totals == 1 %}
                            {% if ligne.totals.is_full == true %}
                                {% set class = 'success' %}
                            {% elseif ligne.totals.used.credit == 0 and ligne.totals.used.debit == 0 %}
                                {% set class = 'warning' %}
                            {% else %}
                                {% set class = 'info' %}
                            {% endif %}
                        {% endif %}
                        <tr class="ligne {{ class }}">
                            <td>{{ categorie.cle ~ '.' ~ sousCategorie.cle ~ '.' ~ ligne.cle }}</td>
                            <td><a href="{{ url('facture_index', {'ligne_id': ligne.id}) }}">{{ ligne.nom }}</a></td>
                            <td>{{ ligne.debit|excel_format }}</td>
                            <td>{{ ligne.credit|excel_format }}</td>
                            <td>{{ ligne.commentaire }}</td>
                        </tr>
                        {% if view_factures == 1 %}
                        {% for facture in ligne.factures %}
                            <tr class="facture">
                                <td>{{ facture.typeFacture.abr ~ facture.numero }}</td>
                                <td><a href="{{ url('facture_detail', {'ligne_id': ligne.id, 'id': facture.id}) }}">{{ facture.objet }}</a></td>
                                {% if facture.typeFacture.sens == true %}
                                    <td>{{ 0|excel_format }}</td>
                                    <td>{{ facture.montant|excel_format }}</td>
                                {% else %}
                                    <td>{{ facture.montant|excel_format }}</td>
                                    <td>{{ 0|excel_format }}</td>
                                {% endif %}
                                <td>{{ facture.commentaire }}</td>
                            </tr>
                        {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
            <tr class="budget">
                <td></td>
                <td></td>
                <td>{{ budget.debit|excel_format }}</td>
                <td>{{ budget.credit|excel_format }}</td>
                <td>Solde : {{ (budget.credit - budget.debit)|excel_format }}</td>
            </tr>
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <div>{# do not add btn-toolbar, else there'll be a bug with TB popover #}
            {% if view_factures == true %}
                <a href="{{ path('budget_detail', {'id': budget.id, 'view_factures': 0, 'view_totals': view_totals}) }}" class='btn'>
                    <i class="icon-list"></i> Cacher les factures
                </a>
            {% else %}
                <a href="{{ path('budget_detail', {'id': budget.id, 'view_factures': 1, 'view_totals': view_totals}) }}" class='btn'>
                    <i class="icon-list"></i> Afficher les factures
                </a>
            {% endif %}
            {% if view_totals == true %}
                <a href="{{ path('budget_detail', {'id': budget.id, 'view_factures': view_factures, 'view_totals': 0}) }}" class='btn' id="view_totals">
                    <i class="icon-list"></i> Cacher l'avancement
                </a>
            {% else %}
                <a href="{{ path('budget_detail', {'id': budget.id, 'view_factures': view_factures, 'view_totals': 1}) }}" class='btn' id="view_totals">
                    <i class="icon-list"></i> Afficher l'avancement
                </a>
            {% endif %}
        </div>
        <script type="text/javascript">
            $('#view_totals').popover({
                placement: 'top',
                trigger: 'hover',
                title: 'Aide',
                content: 'Les lignes complètement facturées apparaîtront en vert ; en bleu, celles qui ne sont pas remplies ; en jaune, celles qui sont vides.'
            });
        </script>
    {% endif %}
{% endblock %}