{%  extends 'TrezLogicielTrezBundle::layout.html.twig' %}

{% block body %}
    <h1>Liste des budgets de l'exercice {{ exercice.edition }}</h1>

    <table class="table table-stripped table-hover">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Débit</th>
            <th>Crédit</th>
            <th>Solde</th>
            <th width="70"></th>
        </tr>
        </thead>
        <tbody>
            {% for budget in budgets %}
                <tr {% if budget.0.verrouille == true %}class="error"{% endif %}>
                    <td>{{ budget.0.nom }}</td>
                    <td>{{ budget.debit|number_format(0, ',', ' ') }}</td>
                    <td>{{ budget.credit|number_format(0, ',', ' ') }}</td>
                    <td><i>{{ (budget.credit - budget.debit)|number_format(0, ',', ' ') }}</i></td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-small" href="{{ path('categorie_index', {'budget_id': budget.0.id}) }}" title="Acc&eacute;der aux cat&eacute;gories"><i class="icon-download"></i></a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="btn btn-small" href="{{ path('budget_edit', {'exercice_id': exercice.id, 'id': budget.0.id}) }}" title="&Eacute;diter"><i class="icon-pencil"></i></a>
                                <a class="btn btn-small"
                                   href="{{ path('budget_delete', {'exercice_id': exercice.id, 'id': budget.0.id}) }}"
                                   onclick="return window.confirm('Êtes-vous sur de vouloir supprimer le budget {{ budget.0.nom }} ?');"
                                   title="Supprimer"><i class="icon-remove"></i></a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <div>
            <a href="{{ path('budget_add', {'exercice_id': exercice.id}) }}" class='btn btn-primary'>
                <i class="icon-plus"></i> Ajouter un budget
            </a>
        </div>
    {% endif %}
{% endblock %}
