{%  extends 'TrezLogicielTrezBundle::layout.html.twig' %}

{% block body %}
    <h1>Liste des budgets de l'exercice {{ exercice.edition }}</h1>

    <table class="table table-stripped table-hover">
        <thead>
        <tr>
            <th>Nom</th>
            {% if is_granted('ROLE_ADMIN') %}
                <th>Débit</th>
                <th>Crédit</th>
                <th>Solde</th>
            {% endif %}
            <th width="70"></th>
        </tr>
        </thead>
        <tbody>
        {% for budget in budgets %}
            <tr {% if budget.verrouille == true %}class="error"{% endif %}>
                <td>{{ budget.nom }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>{{ budget.debit|excel_format }}</td>
                    <td>{{ budget.credit|excel_format }}</td>
                    <td><i>{{ (budget.credit - budget.debit)|excel_format }}</i></td>
                {% endif %}
                <td>
                    <div class="btn-group">
                        <a class="btn btn-small" href="{{ path('categorie_index', {'budget_id': budget.id}) }}" title="Acc&eacute;der aux cat&eacute;gories"><i class="icon-download icon-large"></i></a>
                        <a class="btn btn-small" href="{{ path('budget_detail', {'id': budget.id}) }}" title="Détail"><i class="icon-eye-open icon-large"></i></a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="btn btn-small" href="{{ path('budget_edit', {'exercice_id': exercice.id, 'id': budget.id}) }}" title="&Eacute;diter"><i class="icon-pencil icon-large"></i></a>
                            <a class="btn btn-small"
                               href="{{ path('budget_delete', {'exercice_id': exercice.id, 'id': budget.id}) }}"
                               onclick="return window.confirm('Êtes-vous sur de vouloir supprimer le budget {{ budget.nom }} ?');"
                               title="Supprimer"><i class="icon-remove icon-large"></i></a>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') and exercice.verrouille == false %}
        <div>
            <a href="{{ path('budget_add', {'exercice_id': exercice.id}) }}" class='btn btn-primary'>
                <i class="icon-plus"></i> Ajouter un budget
            </a>
        </div>
    {% endif %}
{% endblock %}
